@model KidKinder.Entities.ClassRoom
@{
    ViewBag.Title = "CreateClass";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Basic Form Inputs card start -->
                        <div class="card">
                            <div class="card-header">
                                <h5>Yeni Sınıf Girişi</h5>
                                <span>Sınıf ile ilgili verileri eksiksiz olarak giriniz</span>
                            </div>
                            <div class="card-block">
                                <form method="post">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Sınıf Adı</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Açıklama</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Yaş Grubu</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.AgeOfKids, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Kontenjan</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.TotalSeats, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Ders Saati</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.ClassTime, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Ücret</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Sınıf Görseli</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Sınıfı Kaydet</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

