@model List<KidKinder.Entities.About>
@{
    ViewBag.Title = "ClassList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">

                <div class="card">
                    <div class="card-header">
                        <h5>Hakkımızda</h5>
                        <span>Hakkımızda ile ilgili işlemleri buradan yapabilirsiniz</span>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                <li><i class="fa fa-window-maximize full-card"></i></li>
                                <li><i class="fa fa-minus minimize-card"></i></li>
                                <li><i class="fa fa-refresh reload-card"></i></li>
                                <li><i class="fa fa-trash close-card"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Etiket</th>
                                        <th>Başlık</th>
                                        <th>Açıklama</th>
                                        <th>Büyük Görsel Url</th>
                                        <th>Küçük Görsel Url</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.AboutId</td>
                                            <td>@item.Title</td>
                                            <td>@item.Header</td>
                                            <td>@item.Description</td>
                                            <td>@item.BigImageUrl</td>
                                            <td>@item.SmallImageUrl</td>
                                            <td><a href="/AdminAbout/UpdateAbout/@item.AboutId" class="btn btn-success">Güncelle</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

